/* Add your own CSS code below */
.countries--first {
  display: flex;
  flex-direction: row-reverse;
}

/* .countries--first .country{
      padding-left: 30px;
      padding-right: 30px;
  } */

.exercise {
  width: 70%;
}

.countries--second .country {
}

.countries--third .country {
}
